@font-face {
    font-family: 'W95FA';
    src: url('/system/fonts/w95fa/w95f.woff2') format('woff2'),
    url('/system/fonts/w95fa/w95f.woff') format('woff'),
    url('/system/fonts/w95fa/W95F.otf') format('opentype');
}

.window {
    position: absolute;
    background: #c0c0c0;
    box-shadow: 2px 2px 0px #000;
    border-color: #fff #404040 #404040 #fff;
    border-style: solid;
    resize: both;
    overflow:auto;
}

.titlebar {
    background: linear-gradient(to right, #800000, #600000);
    color: white;
    padding: 4px;
    font-weight: bold;
    cursor: move;
    user-select: none;
}

.unfocused {
    background: linear-gradient(to right, #600000, #400000);
    color: white;
    padding: 4px;
    font-weight: bold;
    cursor: move;
    user-select: none;
}

button {
    background: #c0c0c0;
    border: 1px solid black;
    margin-left: 8px;
    cursor: pointer;
}
progress {
    width: 200px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid black;
    background: #c0c0c0;
    box-shadow: inset 2px 2px 0px #ffffff, inset -2px -2px 0px #808080;
}

/* The filled portion */
progress::-webkit-progress-value {
    background: repeating-linear-gradient(
        90deg,
        #000080,
        #000080 6px,
        #0000a0 6px,
        #0000a0 12px
    );
    box-shadow: inset 1px 1px 0px #ffffff, inset -1px -1px 0px #000000;
}

/* The empty track */
progress::-webkit-progress-bar {
    background: #c0c0c0;
    box-shadow: inset 2px 2px 0px #ffffff, inset -2px -2px 0px #808080;
}


.start-icon {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
}

.win95-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 2px 6px;
    background: #c0c0c0;
    border: 2px outset #fff;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.win95-button:active {
    border: 2px inset #fff;
}

img {
    image-rendering: pixelated;
}

html * {
    font-family: "W95FA", Arial, Helvetica, "Ubuntu", monospace, 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
}

body {
    overflow: hidden;
}
* {
cursor:url("data:application/octet-stream;base64,AAACAAEAICAAAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAIAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAGAAAADAAAAAwAAAAYAAABGAAAAbAAAAHwAAAB/gAAAfwAAAH4AAAB8AAAAeAAAAHAAAABgAAAAQAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////5////8P////D////h///94f///MP///xD///8B////AB///wA///8Af///AP///wH///8D////B////w////8f////P////3////8="), auto;
}

.webcode-editor * {
    font-family: monospace;
}

.kw {
    color: rgb(227, 227, 0); /* or whatever color you want */
}

.str {
    color: rgb(4, 119, 0)
}

.num {
    color: rgb(128, 255, 155)
}